{% extends 'general_cabecera.html' %} 
{% block titulo_base %} - Registro{% endblock titulo_base %}

{% block cuerpo %}
<div class="row mt-2">
    <center>
        <div class="col-lg-3">
            <div class="container bg-white mt-5 rounded-3">
                <h2 class="pt-5" style="color: #0a699e;">Registro</h2>

                <form class="mt-5 pb-5">
                    <div class="row">
                        <center>
                            <div class="col-9">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
                                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                </div>
                            </div>

                            <div class="col-9">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text">Tipo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected ></option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>    
                            </div>

                            <div class="col-9">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text">Zona&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected ></option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>    
                            </div>

                            <div class="col-9">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                            
                            <div class="col-9">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Direccion</span>
                                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                </div>
                            </div>     
                                                   
                            <div class="col-9">                                                                  
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Servicios&nbsp;</span>                                    
                                    <select class="form-select" multiple aria-label="multiple select example">
                                    {% for servicio in servicios %}    
                                        <option value="1">{{ servicio.descripcion }}</option>
                                    {% endfor %}    
                                    </select>
                                </div>    
                            </div>
                            
                            <div class="col-9">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Categorias</span>                                    
                                    <select class="form-select" multiple aria-label="multiple select example">
                                    {% for categoria in categorias %}    
                                        <option value="1">{{ categoria.descripcion }}</option>
                                    {% endfor %}
                                    </select>
                                </div>    
                            </div>
                                                  
                            <div class="col-9">
                                <h6 style="color: #0a699e;">Horario</h6>

                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Titulo&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Inicio&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <input type="time" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Fin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <input type="time" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                </div>

                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text">Dias&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <select class="form-select" multiple aria-label="multiple select example">
                                        <option value="1">Lunes</option>
                                        <option value="2">Martes</option>
                                        <option value="3">Miercoles</option>
                                        <option value="4">Jueves</option>
                                        <option value="5">Viernes</option>
                                        <option value="6">Sabado</option>
                                        <option value="7">Domingo</option>
                                    </select>
                                </div>

                            </div>

                        </center>    
                        </div>        
                    <button class="btn btn-primary mt-4" type="submit" style="background-color: #0a699e; border-color: #0a699e;">Registrar</button>
                    <button class="btn btn-primary mt-4 text-dark" type="button" href="{% url 'lista_atractivos' %}" style="background-color: #ffffff; border-color: #0a699e;">Volver</button>
                </form>

            </div>
        </div>
    </center>
</div>      
{% endblock cuerpo %}