{% extends 'general_cabecera.html' %} 

{% block titulo_base %} - Vista usuarios{% endblock titulo_base %}

{% block busqueda %}
  <form class="d-flex" method="POST" action="">
    <input class="form-control me-2" type="search" placeholder="Buscar usuario" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Buscar</button>
  </form>
{% endblock busqueda %}
        
{% block accones_usuario %}
  <span class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Bienvenido <b>--User--</b>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="#">Cambiar Contraseña</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Cerrar sesion</a></li>
    </ul>
  </span>
{% endblock accones_usuario %}

{% block cuerpo %}

<div class="py-1 px-1">
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Tipo</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.email }}</td>
            <td>
            {% for group in usuario.groups.all %}
                {% if group.name == 'Turista' %}
                <span class="badge text-dark" style="background-color: chartreuse;">{{ group.name }}</span>
                {% elif group.name == 'Capturista' %}
                <span class="badge text-dark" style="background-color: orange;">{{ group.name }}</span>
                {% endif %}
            {% endfor %}
            </td>
            <td>

                {% if usuario.is_active %}
                    <!-- Boton de Bloqueo de usuarios -->
                    <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#ModalLock{{ usuario.username }}">
                        <i class="bi-unlock" style="font-size: 1rem;"></i>
                    </button>

                    <!-- Modal de Bloqueo de usuarios -->
                    <div class="modal fade" id="ModalLock{{ usuario.username }}" tabindex="-1" aria-labelledby="ModalLock{{ usuario.username }}Label" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="ModalLock{{ usuario.username }}Label">Bloqueo de usuario</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              ¿Esta seguro que desea bloquear al usuario <b>{{ usuario.username }}</b>?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                <form action="#" method="POST">{% csrf_token %}
                                <button type="submit" name='req' value={{ usuario.id }} class="btn btn-success">Confirmar</button>
                                </form>
                            </div>
                          </div>
                        </div>
                      </div>
                {% else %}
                    <!-- Boton de Desbloqueo de usuarios -->
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#ModalUnlock{{ usuario.username }}">
                        <i class="bi-lock" style="font-size: 1rem;"></i>
                    </button>

                    <!-- Modal de Desbloqueo de usuarios -->
                    <div class="modal fade" id="ModalUnlock{{ usuario.username }}" tabindex="-1" aria-labelledby="ModalUnock{{ usuario.username }}Label" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="ModalUnlock{{ usuario.username }}Label">Desbloqueo de usuario</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              ¿Esta seguro que desea desbloquear al usuario <b>{{ usuario.username }}</b>?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                <form action="#" method="POST">{% csrf_token %}
                                <button type="submit" name='req' value={{ usuario.id }} class="btn btn-success">Confirmar</button>
                                </form>
                            </div>
                          </div>
                        </div>
                      </div>
                {% endif %}
            </td>
        </tr>


        {% endfor %}
    </tbody>
</table>  
</div>

{% endblock cuerpo %}